<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>
            Youtube mp3 converter
    </title>
<link rel="stylesheet" href="{% static 'style.css.' %}">

</head>
<body>
  <center>
    <h1>Automated YouTube Converting and MP3 Download</h1>
  <div class="Page" id="untitled_page_page">
      <div>
        <form name="" action="/download" method="get">
        <input type="url" required class="form-control" name="url"
               placeholder="enter a valid youtube url" id="url-field">
        <br>
        <br>
         <button type="submit">Convert</button>
        </form>
       </div>
  </div>
  </center>
</body>
</html>